<section class="colophon">
  <section class="copyright">Copyright &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. <span rel="license">All Rights Reserved</span>.</section>
</section>
<section class="bottom">
  <section class="attribution">
    <a href="/">Built with <i class="fa fa-heart"></i> by Live Smart</a>.
  </section>
</section>
